body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #d79d9f, #a56b65);
    /* Diagonal gradient background */
    height: 100vh;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

nav {
    background-color: #a56b65;
    /* Navigation bar color */
    color: #e3c5c4;
    /* Navigation text color */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #e3c5c4;
    /* Navigation link color */
    text-decoration: none;
    font-size: 1.2em;
}

.projects-section {
    padding: 50px;
    position: relative;
    /* Ensure relative positioning for .projects-section */
}

.projects-section h1 {
    text-align: center;
    margin-bottom: 30px;
}

.projects-section h2 {
    margin-top: 50px;
    font-size: 1.8em;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background-color: rgba(0, 0, 0, 0.3);
    /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    /* Initial position below the view */
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: fadeInUp 0.5s forwards;
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
    /* White text color */
}

.project-card p {
    font-size: 1.1em;
    color: #ccc;
    /* Lighter text color */
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}