:root {
    --nav-background: #ECABAB;
    --nav-text-color: #FCF5F5;
    --nav-text-shadow: #b2b2b4;
    --body-text-color: #58585A;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yODMtbnVubnktMjE2LWcuanBn.jpg");
    background-size: cover;
}

nav {
    background-color: var(--nav-background);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 1px 1px var(--nav-text-shadow);
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    color: var(--body-text-color);
}

.contact-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-item p {
    font-size: 1.4em;
    margin: 0;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contact-item img.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    filter: invert(36%); 
}

#info-icons{
    gap: 15px;
}

ion-icon{
    color: var(--body-text-color);
    font-size: 1.6em;
}