:root {
    --nav-background: #ECABAB;
    --nav-text-color: #FCF5F5;
    --nav-text-shadow: #b2b2b4;
    --body-text-color: #58585A;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yODMtbnVubnktMjE2LWcuanBn.jpg");
    background-size: cover;
}

nav {
    background-color: var(--nav-background);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 2px 2px var(--nav-text-shadow);
}

#main-page {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
p {
    color: var(--body-text-color);
}

h2 {
    font-size: 1.8em;
    margin: 30px 0 0 0;
    font-weight: 650;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 600;
}

p {
    font-size: 1.2em;
    margin: 15px 0 0 15px;
}

strong {
    font-weight: 650;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1200px;
}

.about-text {
    justify-content: left;
    max-width: 850px;
    text-align: justify;
}

.about-text .paragraph {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-images img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 5px solid #e3c5c4;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    object-fit: fit;
}

.about-images img:nth-child(odd) {
    margin-left: 100px;
}

.about-images img:nth-child(even) {
    margin-right: 100px;
}

.about-images {
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-paragraph {
    animation: slideUp 0.5s forwards;
}

.animate-image {
    animation: fadeIn 0.5s forwards;
}