:root {
    --nav-background: #ECABAB;
    --nav-text-color: #FCF5F5;
    --nav-text-shadow: #b2b2b4;
    --body-text-color: #58585A;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yODMtbnVubnktMjE2LWcuanBn.jpg");
    background-size: cover;
}

nav {
    background-color: var(--nav-background);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--nav-text-color);
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 1px 1px var(--nav-text-shadow);
}

section#skills {
    padding: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1,
.content h2 {
    text-align: center;
    color: var(--body-text-color);
}

.content h2 {
    margin-top: 50px;
    font-size: 1.8em;
    margin-bottom: 30px;
}

.content h1 {
    font-size: 2.5em;
    margin: 0;
}


.skills-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    background-color: #fcf5f5c5;
    color: var(--body-text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: fadeInUp 0.5s forwards;
    max-width: 200px;
}

.skill-card img {
    max-width: 100%;
    max-height: 50px;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 1em;
    color: var(--body-text-color);
    margin: 0px;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}